appdirs==1.4.4
asgiref==3.3.4
astroid==2.5.6
atomicwrites==1.4.0
attrs==21.2.0
black==21.5b2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
coverage==5.5
dnspython==2.1.0
email-validator==1.1.2
fakeredis==1.5.2
fastapi==0.65.1
h11==0.12.0
idna==2.10
iniconfig==1.1.1
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
py==1.10.0
pydantic==1.8.2
pylint==2.8.3
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
python-dotenv==0.17.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
six==1.16.0
sortedcontainers==2.4.0
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.14.0
wrapt==1.12.1
